<!DOCTYPE html>
<html>
    <head>
        <title>学员管理系统</title>
    </head>
    <body>
        <h3><a href="/admin/"></a></h3>
        <ul>
            {% for student in students %}
                <li>{{ student.name }} - {{ student.score }}</li>
            {% endfor %}
        </ul>
        <hr/>
        <!--<form action="/" method="POST">-->
            <!--{%  csrf_token %}-->
            <!--<input type="submit" value="Submit" />-->
        <!--</form>-->
        <form enctype="multipart/form-data" action="/uploadFile/" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="file" name="myfile" />
            <input type="submit" value="上传"/>
            <li>Tips：文件保存在E盘</li>
        </form>
    </body>
</html>